<div class="container">
    <div class="d-flex justify-content-between align-items-center wrapper">

        <div class="d-inline-flex d-lg-none">
            <span *ngIf="!showMenu" (click)="showSideMenu()"
                class="menu-toggle menu-icon material-icons">
                <!-- <i class="fa fa-bars" aria-hidden="true"></i> -->
                <mat-icon class="mr-2 headline-icon">view_headline</mat-icon>
            </span>

        </div>

        <div>
            <h1 class="m-0 pr-1">Market</h1>
        </div>

        <div class="search d-none d-lg-inline-flex">
            <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput placeholder="What are you looking for ?" [(ngModel)]="searchValue">
                <button matSuffix mat-raised-button class="btn-search">
                    <mat-icon class="search-icon">search</mat-icon>
                </button>
            </mat-form-field>
        </div>


        <div class="login-menu">
            <button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" class="btn-main btn-hover">
                <mat-icon matPrefix class="person">person</mat-icon>
                Login
                <mat-icon matSuffix class="expand">
                    {{menuTrigger.menuOpen ? 'expand_less' : 'expand_more'}}
                </mat-icon>
            </button>
            <!-- #enddocregion mat-menu-trigger-for -->
            <mat-menu #menu="matMenu">
                <button mat-raised-button class="btn-login btn-hover">LOGIN</button>

                <hr class="hr-text mb-0" data-content="OR">
                <button mat-menu-item class="btn-create-account">CREATE AN ACCOUNT</button>
                <hr class="hr-text mt-0">

                <button mat-flat-button class="menu-btns">
                    <mat-icon matPrefix class="mr-3">person</mat-icon>
                    Account
                </button>

                <button mat-flat-button class="menu-btns">
                    <mat-icon matPrefix class="mr-3">shopping_bag</mat-icon>
                    Orders
                </button>

                <button mat-flat-button class="menu-btns">
                    <mat-icon matPrefix class="mr-3">favorite</mat-icon>
                    Saved Items
                </button>

            </mat-menu>
        </div>


        <div class="help d-none d-lg-inline-flex">
            <button mat-button class="btn-help btn-hover">
                <mat-icon matPrefix>help</mat-icon>
                Help
            </button>
        </div>


        <div class="cart ml-3 ml-md-0">
            <button mat-button class="btn-cart btn-hover">
                <mat-icon matPrefix [matBadge]="matBadge" matBadgeOverlap="false" matBadgePosition="before">
                    shopping_cart
                </mat-icon>
                Cart
            </button>
        </div>

        <div class="language">
            <button mat-button class="btn-lang btn-hover">
                {{lang}}
            </button>
        </div>

    </div>

    <div class="d-flex justify-content-between mb-3 align-items-center d-block d-lg-none">
        
        <div class="search">
            <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput placeholder="What are you looking for ?" [(ngModel)]="searchValue">
                <button matSuffix mat-raised-button class="btn-search">
                    <mat-icon class="search-icon">search</mat-icon>
                </button>
            </mat-form-field>
        </div>

        
        <div class="help">
            <button mat-button class="btn-help btn-hover">
                <mat-icon matPrefix>help</mat-icon>
                Help
            </button>
        </div>


    </div>
</div>

<app-side-menu *ngIf="showMenu" class="d-block d-md-none overlay-screen" (showMenu)="hideSideMenu($event)"></app-side-menu>