<div class="wrapper">
    <button class="btn-close-menu" (click)="hideSideMenu()">
        <mat-icon class="headline-icon">close</mat-icon>
    </button>

    <div class="container menu">
        <h3 class="m-0 p-3">Menu</h3>
        
        <ul class="navbar-nav justify-content-between w-100">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Shop</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="">Recipes</a>
            </li>

        
            <li class="nav-item">
                <a class="nav-link" routerLink="">FAQs</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" routerLink="">About</a>
            </li>
    

            <li class="nav-item">
                <a class="nav-link" routerLink="">Magazine</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="">Branches</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" routerLink="">Corporate</a>
            </li>


            <li class="nav-item">
                <a class="nav-link promotion" routerLink="">Promotions</a>
            </li>


        </ul>
    </div>
</div>

<div class="overlay"></div>