<div class="d-none d-lg-block">
    <div class="container justify-content-start">

        <nav class="navbar navbar-expand-lg">
          
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav justify-content-between w-100">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Magazine</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Branches</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Corporate</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link promotion" routerLink="">Promotions</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

</div>